div.main {
    padding:0px;
}

div.receipt {
    margin: 20px 0;
    padding:20px;
    display:none;
    border:1px solid #DDD;
}

div.receipt th.total,
div.receipt td.total {
    text-align:right;
}

div.receipt table td:first-child{
    width:80%;
}

div.ordertime {
    font-weight:normal;
    font-size:8pt;
    float:right;
    padding-top:4px;
}
