
.sidebar {
    background-color: #f5f5f5;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto;
}
@media (min-width: 768px) {
    .sidebar {
        position: fixed;
        top: 0;
        bottom: 25px;
        left: 0;
        border-right: 1px solid #eee;
    }
}

.footer {
    text-align:center;
    font-size: 12px;
    background-color: #f5f5f5;
    height:25px;
}
@media (min-width: 768px) {
    .footer {
        position: fixed;
        bottom: 0;
        left: 0;
        border-right: 1px solid #eee;
    }
}

.footer a {
    color: #999;
}

.footer a:hover, .footer a:focus {
    color: #333;
    text-decoration: none;
}

.main {
    padding: 20px;
}

#itemlist {
    min-height: 100px;
    padding: 10px;
    background: none;
}

.hidden {
    display: none;
}

table#menu tr {
    cursor: pointer;
}

table#menu td:first-child {
    width:80%;
}

tr#nofood td {
    text-align: center;
    font-style: italic;
}

table#menu .ordered {
    padding-left:10px;
}

table#menu .description {
    padding-left:3px;
}

table#ordertable .ordered,
table#ordertable .description {
    display:none;
}

#ordertable tr:last-child th {
    text-align: right;
}

a.removelink {
    cursor: pointer;
}

span.oldprice {
    color: gray;
    text-decoration: line-through;
}