<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load bootstrap3 %}
    {% bootstrap_css %}
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'orders/style.css' %}" />
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-4 sidebar">
                <h2>Bestelling</h2>
                <form role="form" method="post">
                    {% csrf_token %}
                    {% bootstrap_messages %}
                    {% bootstrap_form form %}
                    {% bootstrap_form_errors form type='non_fields' %}
                    <div class="form-group">
                        <label class="control-label" for="id_name">Voedsels</label>
                        <table class="table table-striped" id='ordertable'>
                            <tr><th style='width:70%'>Naam</th><th style='width:20%'>Prijs</th><th></th></tr>
                            <tr id='nofood'><td colspan='3'>Nog geen voedsels geselecteerd</td></tr>
                            <tr id='total' data-total='0'><th>Totaal: </th><td>€ 0,00</td><td></td></tr>
                        </table>
                    </div>
                    <button type='submit' class='btn btn-primary' id='submitbtn'>Geef bestelling door</button>
                    <a class='btn btn-default' href="{% url 'orders:summary' %}">{% bootstrap_icon "print" %}</a>
                    <a class='btn btn-default' href="{% url 'orders:overview' %}">{% bootstrap_icon "list" %}</a>
                </form>
            </div>
            <div class="col-sm-8 col-sm-offset-4 main">
                <h2>Me nu</h2>
                {% if item_list %}
                <table class="table table-striped table-hover menu">
                    <tr><th>Naam</th><th>Prijs</th></tr>
                {% for item in item_list %}
                    <tr data-id='{{ item.pk }}' data-price='{{ item.price }}'>
                        <td>{{ item.name }}</td>
                        <td>{{ item.price_str }}</td>
                    </tr>
                {% endfor %}
                </table>
                {% else %}
                <p>Geen menu beschikbaar.</p>
                {% endif %}
            </div>
        </div>
    </div>
    {% bootstrap_javascript jquery=1 %}
    <script type="text/javascript" src="{% static 'orders/script.js' %}"></script>
    <div class='hidden' id='deleteicon'><a class='removelink text-danger'>{% bootstrap_icon "trash" %}</a></div>
</body>
</html>