<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>eetFestijn</title>
    {% load bootstrap3 %}
    {% load display_euro %}
    {% bootstrap_css %}
    {% load staticfiles %}
    {% load git_head %}
    <link rel="stylesheet" type="text/css" href="{% static 'orders/style.css' %}?v={% git_head %}" />
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-4 sidebar">
                <h2>Bestelling</h2>
                <form role="form" method="post">
                    {% csrf_token %}
                    {% bootstrap_messages %}
                    {% bootstrap_form form %}
                    {% bootstrap_form_errors form type='non_fields' %}
                    <div class="form-group">
                        <label class="control-label" for="id_name">Voedsels</label>
                        <table class="table table-striped" id='ordertable'>
                            <tr><th style='width:70%'>Naam</th><th style='width:20%'>Prijs</th><th></th></tr>
                            <tr id='nofood'><td colspan='3'>Nog geen voedsels geselecteerd</td></tr>
                            <tr id='total' data-total='0'><th>Totaal: </th><td>{{ 0 | euro }}</td><td></td></tr>
                        </table>
                    </div>
                    <button type='submit' class='btn btn-primary' id='submitbtn'>Geef bestelling door</button>
                    <a class='btn btn-default' href="{% url 'orders:summary' %}" data-toggle="tooltip" data-placement="top" title="Printvriendelijk overzicht">{% bootstrap_icon "print" %}</a>
                    <a class='btn btn-default' href="{% url 'orders:summary_PDF' %}" data-toggle="tooltip" data-placement="top" title="Overzicht als PDF-document">{% bootstrap_icon "save" %}</a>
                    <a class='btn btn-default' href="{% url 'orders:overview' %}" data-toggle="tooltip" data-placement="top" title="Uitgebreid overzicht">{% bootstrap_icon "list" %}</a>
                    <a class='btn btn-default' href="{% url 'orders:receipts' %}" data-toggle="tooltip" data-placement="top" title="Bonnetjes">{% bootstrap_icon "tags" %}</a>
                </form>
            </div>
            <div class="col-sm-4 footer">
                <p><a href='https://github.com/joostrijneveld/eetfestijn/'>eetFestijn ({% git_head %})</a></p>
            </div>
            <div class="col-sm-8 col-sm-offset-4 main">
                <h2>Menu</h2>
            {% if cols.0 %}
                <div class='row'>
                    {% for col in cols %}
                    <div class="col-sm-6">
                        {% for category in col %}
                        <h3>{{ category.name }}</h3>
                        <table id="menu" class="table table-striped table-hover">
                            {% if category.random_item %}
                            <tr class='randomitem'>
                                <td>{{ category.random_item }}</td>
                                <td>{% bootstrap_icon "random" %}</td>
                            </tr>
                            {% endif %}
                            {% for item in category.items.all %}
                            <tr class='item' data-id='{{ item.pk }}' data-price='{{ item.real_price }}'>
                                <td>
                                    {{ item.name }}
                                    {% if item.description %}
                                        <span class='description' data-toggle="tooltip" data-placement="top" title="{{ item.description }}">{% bootstrap_icon "info-sign" %}</span>
                                    {% endif %}
                                    <span class='ordered'></span>
                                </td>
                                {% if item.real_price != item.price %}
                                <td>{{ item.real_price | euro }}<br><span class='oldprice'>{{ item.price | euro }}</span></td>
                                {% else %}
                                <td>{{ item.real_price | euro }}</td>
                                {% endif %}
                            </tr>
                            {% endfor %}
                        </table>
                        {% endfor %}
                    </div>
                    {% endfor %}
                </div>
            {% else %}
                <p>Geen menu beschikbaar.</p>
            {% endif %}
            </div>
        </div>
    </div>
    {% bootstrap_javascript jquery=1 %}
    <script type="text/javascript" src="{% static 'orders/script.js' %}?v={% git_head %}"></script>
    <div class='hidden' id='deleteicon'><a class='removelink text-danger'>{% bootstrap_icon "trash" %}</a></div>
    <div class='hidden' id='okicon'><span class='text-success'>{% bootstrap_icon "ok" %}</span></div>
</body>
</html>