<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>eetFestijn - overzicht</title>
    {% load bootstrap3 %}
    {% load display_euro %}
    {% load absolute_reverse_url %}
    {% load staticfiles %}
    {% load git_head %}
    {% load real_price_at %}
    {% bootstrap_css %}
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'orders/overview.css' %}?v={% git_head %}" />
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-4 col-sm-offset-4 main">
                <h2>Bestellingen ({{ grandtotal | euro }})</h2>
                <form role='form' method='post' style='margin-bottom:25px;'>
                    {% csrf_token %}
                    <p>

                        Hieronder staan de bestellingen zoals ze nu zijn. Als je weer helemaal opnieuw
                        wilt beginnen met een lege lijst bestellingen, klik dan op
                        <button type="submit" name="process" value="all"
                                class="btn btn-success btn-xs"
                                onclick="return confirm('Weet je zeker dat je de bestellingen wilt verwerken?')">
                                alles verwerken {% bootstrap_icon 'tag' %}
                        </button>
                        om de lijst leeg te maken en een bonnetje te genereren.
                        {% if slack %}
                            Je kunt de huidige bestellingen ook delen via
                            <button type="submit" name="slack" value="post" class="btn btn-success btn-xs"
                                    onclick="return confirm('Weet je zeker dat je de bestellingen via Slack wilt delen?')">
                                    <i class="fa fa-slack"></i>
                                    Slack
                            </button>
                        {% endif %}
                        Zie ook het
                        <a class="btn btn-default btn-xs" role="button" href="{% url 'summary' %}">
                            {% bootstrap_icon 'print' %}
                            printvriendelijke overzicht
                        </a>.
                    </p>
                    <p>
                        Tip! Stuur de bestellingen door naar de printer in M1:<br>
                        <span style='font-size:12px;font-family:Menlo,Monaco,Consolas,"Courier New",monospace;'>kinit &amp;&amp; curl {% absolute_reverse request 'summary_PDF' %} | lpr -P pr-m1-00 -o SelectColor=Grayscale</span>
                    </p>
                </form>
                {% bootstrap_messages %}
                {% for order in orders %}
                <form role='form' method='post'>
                    {% csrf_token %}
                    <table class="table" style='margin-bottom:25px;'>
                        <tr>
                            <th style='width:70%'>{{ order.name }} (wbw:
                                {% if order.wiebetaaltwat %}
                                <span class='text-success'>{% bootstrap_icon "ok" %}</span>
                                {% else %}
                                <span class='text-danger'>{% bootstrap_icon "remove" %}</span>
                                {% endif %})
                                <div class='ordertime'>{{ order.date | date:'Y-m-d H:i'}}</div>
                            </th>
                            <th>{{ order.total | euro }}</th>
                            <th><button name='remove' value='{{ order.pk }}' type='submit' class='btn btn-danger btn-xs' onclick="return confirm('Weet je zeker dat je deze bestelling van {{ order.name}} wilt verwijderen?')">{% bootstrap_icon 'trash' %}</button></th>
                        </tr>
                        {% for item in order.items.all %}
                        <tr><td>{{ item.name }}</td><td>{{ item | real_price_at:order.date | euro }}</td><td></td></tr>
                        {% endfor %}
                    </table>
                </form>
                {% endfor %}
            </div>
        </div>
        <div class="row">
           <div class="col-sm-4 col-sm-offset-4">
               <a href="{% url 'index' %}" role="button" class="btn btn-default btn-block"><span class="glyphicon glyphicon-chevron-left"></span>Ga terug naar de hoofdpagina</a>
            </div>
    </div>
    {% bootstrap_javascript jquery=1 %}
</body>
</html>
