<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>eetFestijn - samenvatting</title>
    {% load bootstrap3 %}
    {% bootstrap_css %}
    {% load staticfiles %}
    {% load git_head %}
    <link rel="stylesheet" type="text/css" href="{% static 'orders/summary.css' %}?v={% git_head %}" />
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-4 col-sm-offset-4 main">
                <table class="table">
                {% for name, number in combined_order %}
                    <tr><td>{{ number }}</td><td>{{ name }}</td></tr>
                {% endfor %}
                </table>
            </div>
        </div>
    </div>
</body>
</html>